<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @udl_module.title.html_safe %> Feedback</h1>
      
      <%= form_for ([@udl_module, @udl_module_survey]) do |f| %>
      <ol> 
        <li><strong>Which option best describes your role?</strong></li>
        <%= f.collection_check_boxes :user_category_ids, UserCategory.selectable, :id, :name %>
        <li><strong>Rate your level of satisfaction with each of the following aspects of the online module.</strong></li>
          <table>
            <tr>
              <td></td>
              <td><%= f.label :length_of_time_very_dissatisfied, "Very dissatisfied" %></td>
              <td><%= f.label :length_of_time_dissatisfied, "Dissatisfied" %></td>
              <td><%= f.label :length_of_time_satisfied, "Satisfied" %></td>
              <td><%= f.label :length_of_time_very_satisfied, "Very satisfied" %></td>
            </tr>
            <tr>
              <td>a. Length of time</td>
              <td><%= f.radio_button :length_of_time, "very_dissatisfied" %></td>
              <td><%= f.radio_button :length_of_time, "dissatisfied" %></td>
              <td><%= f.radio_button :length_of_time, "Satisfied" %></td>
              <td><%= f.radio_button :length_of_time, "very_satisfied" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.label :organization_of_module_very_dissatisfied, "Very dissatisfied" %></td>
              <td><%= f.label :organization_of_module_dissatisfied, "Dissatisfied" %></td>
              <td><%= f.label :organization_of_module_satisfied, "Satisfied" %></td>
              <td><%= f.label :organization_of_module_very_satisfied, "Very satisfied" %></td>
            </tr>
            <tr>
              <td>b. Organization of module</td>
              <td><%= f.radio_button :organization_of_module, "very_dissatisfied" %></td>
              <td><%= f.radio_button :organization_of_module, "dissatisfied" %></td>
              <td><%= f.radio_button :organization_of_module, "Satisfied" %></td>
              <td><%= f.radio_button :organization_of_module, "very_satisfied" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.label :quality_of_content_very_dissatisfied, "Very dissatisfied" %></td>
              <td><%= f.label :quality_of_content_dissatisfied, "Dissatisfied" %></td>
              <td><%= f.label :quality_of_content_satisfied, "Satisfied" %></td>
              <td><%= f.label :quality_of_content_very_satisfied, "Very satisfied" %></td>
            </tr>
            <tr>
              <td>c. Quality of content</td>
              <td><%= f.radio_button :quality_of_content, "very_dissatisfied" %></td>
              <td><%= f.radio_button :quality_of_content, "dissatisfied" %></td>
              <td><%= f.radio_button :quality_of_content, "Satisfied" %></td>
              <td><%= f.radio_button :quality_of_content, "very_satisfied" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.label :relevance_to_my_needs_very_dissatisfied, "Very dissatisfied" %></td>
              <td><%= f.label :relevance_to_my_needs_dissatisfied, "Dissatisfied" %></td>
              <td><%= f.label :relevance_to_my_needs_satisfied, "Satisfied" %></td>
              <td><%= f.label :relevance_to_my_needs_very_satisfied, "Very satisfied" %></td>
            </tr>
            <tr>
              <td>d. Relevance to my needs</td>
              <td><%= f.radio_button :relevance_to_my_needs, "very_dissatisfied" %></td>
              <td><%= f.radio_button :relevance_to_my_needs, "dissatisfied" %></td>
              <td><%= f.radio_button :relevance_to_my_needs, "Satisfied" %></td>
              <td><%= f.radio_button :relevance_to_my_needs, "very_satisfied" %></td>
            </tr>
          </table>

          <li><strong>Do you plan on implementing what was presented in this module in your classroom/in your interactions with students?</strong><br />
            <%= f.radio_button :plan_to_implement, "no" %>
            <%= f.label :plan_to_implement_no, "No" %>
            <%= f.radio_button :plan_to_implement, "yes_need_more_info" %>
            <%= f.label :plan_to_implement_yes_need_more_info, "Yes, but I will need to seek more information and/or resources to implement" %>
            <%= f.radio_button :plan_to_implement, "yes_sufficient_info" %>
            <%= f.label :plan_to_implement_yes_sufficient_info, "Yes, the information and/or resources included were sufficient for implementation" %>
          </li>

          <li><strong>How likely are you to recommend this module to another person?</strong></li>
            <table>
              <tr>
              <td></td>
              <td><%= f.label :likely_to_recommend_extremely_unlikely, "Extremely unlikely" %></td>
              <td><%= f.label :likely_to_recommend_unlikely, "Unlikely" %></td>
              <td><%= f.label :likely_to_recommend_likely, "Likely" %></td>
              <td><%= f.label :likely_to_recommend_very_likely, "Extremely likely" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.radio_button :likely_to_recommend, "extremely_unlikely" %></td>
              <td><%= f.radio_button :likely_to_recommend, "unlikely" %></td>
              <td><%= f.radio_button :likely_to_recommend, "likely" %></td>
              <td><%= f.radio_button :likely_to_recommend, "extremely_likely" %></td>
            </tr>
            </table>
          <li><strong>How likely are you to access another online module in the future?</strong></li>
            <table>
              <tr>
              <td></td>
              <td><%= f.label :access_another_module_extremely_unlikely, "Extremely unlikely" %></td>
              <td><%= f.label :access_another_module_unlikely, "Unlikely" %></td>
              <td><%= f.label :access_another_module_likely, "Likely" %></td>
              <td><%= f.label :access_another_module_very_likely, "Extremely likely" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.radio_button :access_another_module, "extremely_unlikely" %></td>
              <td><%= f.radio_button :access_another_module, "unlikely" %></td>
              <td><%= f.radio_button :access_another_module, "likely" %></td>
              <td><%= f.radio_button :access_another_module, "extremely_likely" %></td>
            </tr>
            </table>
          <li><%= f.label :additional_feedback, "Do you have any additional feedback regarding this online module?" %></li>
          <%= f.text_area :additional_feedback %>
        </ol>
        <%= f.submit "Complete Survey", id: "udl_module_survey_submit_button" %>
      <% end %>
    </div>
  </div>
</div>
