<% content_for :title, "Faculty" %>
<div id="content-wrapper">
<%= render "shared/side_bar" %>
  <div id="right-column-wrapper">
    <div id="content">
      <h1>College STAR for Faculty</h1>        
      <%= render 'shared/bread_crumb_social_media', bread_crumb_args: { page_name: 'faculty' } %>


      <h2>Professional Development Modules/Case Studies</h2>
      <p>
      College STAR professional development modules are organized around the three principles of <%= link_to "Universal Design for Learning", universal_design_for_learning_index_path %>. Many of these modules originate from a direct attention to hearing student voices on the college campus. Students identify and describe examples of effective teaching practices, strategies, resources and routines used by faculty members across campus. These nominated instructional practices become the topics for some of these modules. Each module contains an alignment of the instructional practice with principles of Universal Design for Learning, a description of how the practice has been implemented by university instructor(s), a brief summary of professional literature that supports the instructional practice, and additional resources for viewers.
      </p>
      <p>
      If you're interested in creating a case study, be sure to <%= link_to "submit a proposal", new_case_study_proposal_path %>.
      </p>
      <p>
        <%= link_to "View our current UDL Modules and Case Studies", udl_modules_path %>
      </p>

      <h2>Faculty Learning Communities</h2>
      <p>
      The goal of College STAR’s Component B is for each campus to develop an integrated system of campus-wide student and/or faculty supports that are focused on teaching students with learning differences, reinforce direct services provided to students, and that focus on principles of Universal Design for Learning (UDL). Faculty learning communities are one way the College STAR campuses are striving to meet that goal.
      </p>
      <h3>Pirate CREWS</h3>
      <p>
      In collaboration with the Office of Faculty Excellence (OFE), College STAR provides faculty with a forum to conduct shared research linked to the principles of Universal Design for Learning (UDL) and current understandings about students with learning differences, and mentor/be mentored in the development or use of outstanding instructional practices. Faculty members who are interested in exploring instructional practices as they relate to student outcomes are encouraged to join a Pirate CREWS Faculty Learning Community. Pirate CREWS are faculty research partnerships committed to enhancing methods for teaching and learning at ECU. College STAR is the vehicle for fostering these learning communities in order to explore more deeply examples of best-practice instructional techniques in today’s college classroom. Participants in these informal learning communities commit to active engagement and follow-through with a group-defined project while benefiting from mentoring and/or community support during the experience.
      </p>
      <h2>Effective Instructional Practices</h2>
      <p>
      Each year College STAR surveys East Carolina University students in search of effective instructional practices used by their professors. The students are asked to share a description of effective teaching practices faculty members have used at East Carolina University and that have benefitted them as a college learner. Click here to read some of the most insightful submissions.
      </p>
    </div>
  </div>
</div>
