<div id="content-wrapper">
  <%= render "shared/side_bar" %>
  <div id="right-column-wrapper">
    <div id="home-content-top">
      <h1><%= @page_content.title.html_safe %></h1>      
      <%= @page_content.text.html_safe %>
      <div id="campus-header-wrapper">
        <h1>Anchor Campuses</h1>
        <%= link_to 'view all', campuses_path, class: 'view-all' %>
      </div>
    <div id="campus-wrapper">
      <% @campuses.each do |campus| %>
        <div class="campus">
          <%= link_to(campus) do %>
            <%= image_tag campus.image.url(:medium) %>
            <p>
              <%=  campus.name %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="home-supporters-wrapper">
    <h1>Supporting Partners</h1>  
    <%= link_to 'view all', supporters_path, class: 'view-all' %>
    <p>Test!</p>
    <div class="supporter">
      <%= link_to image_tag("danland_logo.png"), "supporters" %>
      <p>the oak foundation usa</p>
    </div>
    <div class="supporter">
      <%= link_to image_tag("gskf.png"), "supporters" %>
      <p>nc glaxosmithkline foundation</p>
    </div>
  </div>
</div>
