<%= content_for :title, "#{@udl_module.title.html_safe} Assessment" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
     <h1><%= @udl_module.title.html_safe %> Assessment Results</h1>
     <div id="assessment-score">
       <p>Score: <%= @score %></p>
     </div>
     <div class="assessment">
       <ol>
       <% @questions.each do |question| %>
         <li>
           <div class="question">
             <div class="question-text">
               <%= question.question_text.html_safe %>
             </div>
             <div class="question-explanation">
               <%= question.explanation.html_safe %>
             </div>
             <div class="answer-choices-wrapper">
               <ol>
               <% question.answer_choices.each do |choice| %>
                 <div class="answer-choice">
                   <li><%= choice.text.html_safe %></li>
                 </div>
               <% end %>
               </ol>
             </div>
           </div>
         </li>
       <% end %>
       </ol>
     </div>
    </div>
  </div>
</div>
