<li><strong>Do you plan on implementing what was presented in this module in your classroom/in your interactions with students?</strong><br />
  <div class="form-radio-button-wrapper">
  <%= f.radio_button :plan_to_implement, "no", class: 'form-radio-button' %>
  <%= f.label :plan_to_implement_no, "No" , class: 'form-lable' %>
  </div>

  <div class="form-radio-button-wrapper">
    <%= f.radio_button :plan_to_implement, "yes_need_more_info", class: 'form-radio-button' %>
    <%= f.label :plan_to_implement_yes_need_more_info, "Yes, but I will need to seek more information and/or resources to implement", class: 'form-label' %>
  </div>
  <div class="form-radio-button-wrapper">
    <%= f.radio_button :plan_to_implement, "yes_sufficient_info", class: 'form-radio-button' %>
    <%= f.label :plan_to_implement_yes_sufficient_info, "Yes, the information and/or resources included were sufficient for implementation", class: 'form-label' %>
  </div>
</li>
