<div id="content-wrapper">    

  <div id="feature-wrapper">
    <div id="news-feature">
      <h1><%= link_to( "Flipping Classroom Boosts Student Engagement", "/news/flipping-classroom-boosts-student-engagement" ) %></h1>
      <%= link_to( image_tag("enriquez-lola_ayde_150.jpg"),
          "/news/flipping-classroom-boosts-student-engagement" )
      %>
      <p>
       English Composition II is a required course for freshmen at Fayetteville State University and Dr.   Aydé Enríquez-Loya wants to make sure her students finish the course with knowledge that will serve as a foundation for their academic and personal lives.
      </p>
      <p>
        The course has an emphasis on argumentation and research and involves gathering, analyzing and documenting information from secondary sources.
      </p>
      <p>
        Enríquez-Loya’s flipped classroom and focus on the Rhetorics of Social Justice are all designed to ensure that her students stay engaged, retain material, understand critical thinking and rhetorical concepts and can put them to use.
      </p>
      <p>
        As a participant in the Bronco Star program at Fayetteville State, Enríquez-Loya has access to resources about flipped classrooms and participates in a faculty learning community on the topic.  The faculty are organized as a Facebook group titled FSU BroncoStar Engagement 2015-2016.   “We wanted the way we engage with each other to mirror the way our students might engage,” she said. <%= link_to "read more", "/news/flipping-classroom-boosts-student-engagement", class: 'read-more' %>
      </p>

    </div>
  </div>
  <div id="single-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      
      <h1>College STAR News</h1>
        <ul id="news_articles">
          <% @news_articles.each do |news_article| %>
            <li>
              <div class="news_article_wrapper">
                <h2><%= link_to news_article.title, news_article %>
                  <% if policy(news_article).update? %>
                    <span class="edit-news-article-link">
                      <%= link_to(
                        fa_icon( "pencil", text: "Edit this article" ),
                        edit_news_article_path( news_article ) 
                      ) %>
                    </span>
                  <% end %>
                </h2>
                <div class="thumb_nail">
                  <%= link_to( image_tag("seal-2x.png"), news_article ) %>
                </div>
                <div class="excerpt">
                  <p><%= news_article.excerpt.html_safe %></p>
                </div>
              </div>
            </li>
          <% end %>
       </ul> 
      <% if policy(NewsArticle).create? %>
        <div id="new-article-link-wrapper">
        <%= link_to(
              fa_icon( 'plus', text: 'Add News Article' ),
              new_news_article_path,
              class: 'create-button'
            ) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
