<div id="content-wrapper">    

  <div id="feature-wrapper">
    <div id="news-feature">
      <h1><%= link_to( "DR. MULLER HAD LASTING IMPACT ON COLLEGE STAR PROGRAM", "/news/dr-muller-had-lasting-impact-on-college-star-program" ) %></h1>        
      <%= render 'shared/bread_crumb_social_media', bread_crumb_args: { page_name: 'news archive' } %>

      <%= link_to( image_tag("content_dorothy_250.jpg"),
          "/news/dr-muller-had-lasting-impact-on-college-star-program" )
      %>
       <p>
Although Dr. Dorothy Muller is retiring after 40 years, she talks about assisting students and faculty with the same level of enthusiasm you suspect she brought to her arrival on campus in 1977.
       </p>
       <p>
It was a younger, pregnant new Ph.D. who arrived in Greenville with her husband in 1976. She made ECU one of her first stops and began her career with the university as a part-time adjunct professor of reading. The following year, she was on the faculty full-time--sharing her expertise on reading in content areas, a specialty which she now acknowledges as a pre-cursor to the concepts of Universal Design for Learning which she would champion through College STAR.
      </p>
      <p>
Muller worked directly with students until 2006, ultimately becoming Dean of the Office of Undergraduate Studies whose mission was to support distinctive education and to provide academic support services to assist students in obtaining the best education ECU had to offer. <%= link_to "read more", "/news/dr-muller-had-lasting-impact-on-college-star-program", class: 'read-more' %>
      </p>
    </div>
  </div>
  <div id="single-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      
      <h1>College STAR News</h1>
        <ul id="news_articles">
          <% @news_articles.each do |news_article| %>
            <li>
              <div class="news_article_wrapper">
                <h2><%= link_to news_article.title, news_article %>
                  <% if policy(news_article).update? %>
                    <span class="edit-news-article-link">
                      <%= link_to(
                        fa_icon( "pencil", text: "Edit this article" ),
                        edit_news_article_path( news_article ) 
                      ) %>
                    </span>
                  <% end %>
                </h2>
                <div class="thumb_nail">
                  <%= link_to( image_tag("seal-2x.png"), news_article ) %>
                </div>
                <div class="excerpt">
                  <p><%= news_article.excerpt.html_safe %></p>
                </div>
              </div>
            </li>
          <% end %>
       </ul> 
       <div id="pagination-wrapper">
         <%= paginate @news_articles %>
       </div>

      <% if policy(NewsArticle).create? %>
        <div id="new-article-link-wrapper">
        <%= link_to(
              fa_icon( 'plus', text: 'Add News Article' ),
              new_news_article_path,
              class: 'create-button'
            ) %>
        </div>
        
        <h1>Unreleased News Articles</h1>
        <ul id="unreleased_news_articles">
          <% @unreleased_news_articles.each do |news_article| %>
            <li>
              <div class="news_article_wrapper">
                <h2><%= link_to news_article.title, news_article %>
                  <% if policy(news_article).update? %>
                    <span class="edit-news-article-link">
                      <%= link_to(
                        fa_icon( "pencil", text: "Edit this article" ),
                        edit_news_article_path( news_article ) 
                      ) %>
                    </span>
                  <% end %>
                </h2>
                <div class="thumb_nail">
                  <%= link_to( image_tag("seal-2x.png"), news_article ) %>
                </div>
                <div class="excerpt">
                  <p><%= news_article.excerpt.html_safe %></p>
                </div>
              </div>
            </li>
          <% end %>
        </ul> 
      <% end %>
    </div>
  </div>
</div>
