<div id="content-wrapper">    

  <div id="feature-wrapper">
    <div id="news-feature">
      <h1><%= link_to( "NURSES OFFERED MULTIPLE WAYS TO DEMONSTRATE LEADERSHIP SKILLS", "/news/nurses-offered-multiple-ways-to-demonstrate-leadership-skills" ) %></h1>
      <%= link_to( image_tag("jan_tillman_150.jpg"),
          "/news/nurses-offered-multiple-ways-to-demonstrate-leadership-skills" )
      %>
      <p>
      Dr. Jan Tillman is very aware that the advanced practice nurses in her leadership course are a heterogeneous group.    They are older than the traditional East Carolina University student and bring years of clinical experience to the table.   They are practicing nurses, moms, dads, veterans and have varied ethnic backgrounds.    So she knew from the start that they would also bring a wide variety of learning styles to the table. 
      </p>
      <p>
      When a workshop on improving student engagement and learning through course re-design was offered at ECU, she was excited to participate.  The workshop had a focus on two approaches—Universal Design for Learning (UDL) and the Integrated Course Design (ICD) concept created by Dee Fink.  It was sponsored by the ECU Office for Faculty Excellence and College STAR (Supporting Transition Access and Retention).  
      </p>
      <p>
      Inspired by the workshop, she spent the summer of 2015 revamping the hybrid distance learning course  “Interdisciplinary Leadership and Role Development for Practice Excellence” to give her students several ways to both learn and demonstrate their knowledge of leadership principles. 
      <%= link_to "read more", "/news/nurses-offered-multiple-ways-to-demonstrate-leadership-skills", class: 'read-more' %>
      </p>

    </div>
  </div>
  <div id="single-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      
      <h1>College STAR News</h1>
        <ul id="news_articles">
          <% @news_articles.each do |news_article| %>
            <li>
              <div class="news_article_wrapper">
                <h2><%= link_to news_article.title, news_article %>
                  <% if policy(news_article).update? %>
                    <span class="edit-news-article-link">
                      <%= link_to(
                        fa_icon( "pencil", text: "Edit this article" ),
                        edit_news_article_path( news_article ) 
                      ) %>
                    </span>
                  <% end %>
                </h2>
                <div class="thumb_nail">
                  <%= link_to( image_tag("seal-2x.png"), news_article ) %>
                </div>
                <div class="excerpt">
                  <p><%= news_article.excerpt.html_safe %></p>
                </div>
              </div>
            </li>
          <% end %>
       </ul> 
      <% if policy(NewsArticle).create? %>
        <div id="new-article-link-wrapper">
        <%= link_to(
              fa_icon( 'plus', text: 'Add News Article' ),
              new_news_article_path,
              class: 'create-button'
            ) %>
        </div>
        
        <h1>Unreleased News Articles</h1>
        <ul id="unreleased_news_articles">
          <% @unreleased_news_articles.each do |news_article| %>
            <li>
              <div class="news_article_wrapper">
                <h2><%= link_to news_article.title, news_article %>
                  <% if policy(news_article).update? %>
                    <span class="edit-news-article-link">
                      <%= link_to(
                        fa_icon( "pencil", text: "Edit this article" ),
                        edit_news_article_path( news_article ) 
                      ) %>
                    </span>
                  <% end %>
                </h2>
                <div class="thumb_nail">
                  <%= link_to( image_tag("seal-2x.png"), news_article ) %>
                </div>
                <div class="excerpt">
                  <p><%= news_article.excerpt.html_safe %></p>
                </div>
              </div>
            </li>
          <% end %>
        </ul> 
      <% end %>
    </div>
  </div>
</div>
