<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>2017 Student Support Summit Questionnaire</h1>
      
      <div id="student-support-summit-questionnaire-wrapper">
      <%= form_for @questionnaire, url: student_support_summit_questionnaires_path do |f| %>
        <div id="student-support-summit-questionniare-form-first-name">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, placeholder: "Optional" %>
        </div>
        <div id="student-support-summit-questionniare-form-last-name">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, placeholder: "Optional" %>
        </div>
        <div id="student-support-summit-questionniare-form-email">
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "Optional" %>
        </div>
        <div id="student-support-summit-questionniare-form-most-excited-about">
          <%= f.label :most_excited_about, "In regard to the upcoming Summit, what are you most excited about?" %>
          <%= f.cktext_area :most_excited_about, ckeditor: { toolbar: 'base', height: 200 } %>
        </div>
        <div id="student-support-summit-questionniare-form-issues">
          <%= f.label :issues, "Are their particular issues that you would like addressed at the Summit?"%>
          <%= f.cktext_area :issues, ckeditor: { toolbar: 'base', height: 200 } %>
        </div>
        <div id="student-support-summit-questionniare-form-challenges">
          <%= f.label :challenges, "What challenges do you want to work with other organizations to address?" %>
          <%= f.cktext_area :challenges, ckeditor: { toolbar: 'base', height: 200 } %>
        </div>
        <div id="student-support-summit-questionniare-form-well-spent-time">
          <%= f.label :well_spent_time, "My time at the Summit will be well spent if _________________." %>
          <%= f.cktext_area :well_spent_time, ckeditor: { toolbar: 'base', height: 200 } %>
        </div>
        <div id="student-support-summit-questionnaire-form-submit-wrapper">
          <%= f.submit "Submit Questionnaire" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
