<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Users</h1>
      
      <div id="users-table-wrapper">
      <table id="users">
          <tr>
            <th>Last name</th>
            <th>First name</th>
            <th>Email</th>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.last_name, edit_profile_path(user) %></td>
              <td><%= link_to user.first_name, edit_profile_path(user) %></td>
              <td><%= link_to user.email, edit_profile_path(user) %></td>
            </tr>
          <% end %>
      </table>
      </div>
      
      <br>
      <% if policy(@users).create? %> 
        <%= link_to 'New User', new_user_path %>
      <% end %>

      <br>
      <%= paginate @users %>
    </div>
  </div>
</div>
