<div id="footer">
<div id="footer_content">
<%= link_to "Home", root_path %> | <%= link_to "About College STAR", about_path %> | <%= link_to "Students", students_path %> | <%= link_to "Events", events_path %> | <%= link_to "Faculty", faculty_path %> |  <%= link_to "Participating Campuses", campuses_path %> | <%= link_to "Supporters", supporters_path %> | <%= link_to "Partners & Connections", partners_path %> | <%= link_to "News Archive", news_articles_path %> | <%= link_to "Terms of Use", terms_path %> | <%= link_to "Frequently Asked Questions", faq_path %> | <%= link_to "Contact Us", contact_path %>
<a href="http://www.facebook.com/collegestar.org" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
<a href="https://plus.google.com/100131334264339307228/posts" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
<a href="http://www.twitter.com/collegestar_org" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
</div>
</div>
