<div id="header">
  <div id="header-left">
    <%= link_to(
          image_tag( "emblem_trans.png", 
                      width: "400", 
                      alt: "College STAR Logo", 
                      title: "College STAR Home"
                    ),
          root_path
        )
    %>
  </div>
  <div id="header-right">
    <div id="login-box">
    <% if current_user.id %>
      <div id="user-menu-wrapper">
        <div id="user-name"><i class="fa fa-user fa-lg"></i>&nbsp; <%= current_user.first_name %> <%= current_user.last_name %></div>
        <div id="user-dropdown" class="user-menu">
          <ul>
            <li><%= link_to '<i class="fa fa-cog fa-lg"></i>&nbsp; Edit Profile'.html_safe, edit_profile_path(current_user) %></li>
            <li><%= link_to '<i class="fa fa-book fa-la"></i>&nbsp; My Redesign Summaries'.html_safe, profile_redesign_summaries_path(profile_id: current_user) %></li>
            <!--
            <li><%= link_to '<i class="fa fa-history fa-la"></i>&nbsp; My Module History'.html_safe, udl_modules_path %></li>
            <li><%= link_to '<i class="fa fa-line-chart fa-la"></i>&nbsp; My Surveys'.html_safe, surveys_path %></li>
            -->
            <% if policy(Campus).view_admin? %>
              <li><%= link_to '<i class="fa fa-graduation-cap fa-la"></i>&nbsp; Campuses'.html_safe, campuses_path %></li>
            <% end %>
            <% if policy(Contact).view_admin? %>
              <li><%= link_to '<i class="fa fa-envelope fa-la"></i>&nbsp; Contact Us Management'.html_safe, contacts_path %></li>
            <% end %>

            <% if policy(CaseStudyProposal).view_admin? %>
              <li><%= link_to '<i class="fa fa-map fa-la"></i>&nbsp; Case Study Proposals'.html_safe, case_study_proposals_path %></li>
            <% end %>
            <% if policy(Page).view_admin? %>
              <li><%= link_to '<i class="fa fa-drivers-license fa-la"></i>&nbsp; Page Content Editor'.html_safe, pages_path %></li>
            <% end %>
            <% if policy(RedesignSummary).view_admin? %>
              <li><%= link_to '<i class="fa fa-archive fa-la"></i>&nbsp; Redesign Summaries'.html_safe, faculty_redesign_summaries_path %></li>
            <% end %>
            <% if policy(StarLearningCommunityRegistration).view_admin? %>
              <li><%= link_to '<i class="fa fa-users fa-la"></i>&nbsp; STAR Learning Communities'.html_safe, star_learning_communities_registrations_path %></li>
            <% end %>
            <% if policy(StudentSupportProgram).view_admin? %>
              <li><%= link_to '<i class="fa fa-users fa-la"></i>&nbsp; Student Support Programs'.html_safe, student_support_programs_path %></li>
            <% end %>
            <% if policy(StudentSupportSummitRegistration).view_admin? %>
              <li><%= link_to '<i class="fa fa-users fa-la"></i>&nbsp; Student Support Summit Registrations'.html_safe, student_support_summit_registrations_path %></li>
            <% end %>              
            <% if policy(FacultyNominationSurvey).view_index? %>
              <li><%= link_to '<i class="fa fa-area-chart fa-la"></i>&nbsp; Faculty Nomination Surveys'.html_safe, 
                              campus_faculty_nomination_surveys_path( campus_slug: 'east-carolina-university'),
                              id: "faculty_nomination_surveys_index_link"
                  %></li>
            <% end %>
            <% if policy(UdlModule).view_admin? %>
              <li><%= link_to '<i class="fa fa-file fa-la"></i>&nbsp; My UDL Modules'.html_safe, profile_udl_modules_path(profile_id: current_user.id) %></li>
            <% end %>
            <% if policy(User).view_admin? %>
              <li><%= link_to '<i class="fa fa-user fa-la"></i>&nbsp; Users'.html_safe, users_path %></li>
            <% end %>

            <li><%= link_to "Logout", logout_path %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", login_path  %> | <%= link_to "Create an Account", signup_path %>
    <% end%>
    </div>
    <div id="title-image">
      <%= image_tag "title_trans.png", width: "auto", height: "auto" %>
    </div>
    <div id="nav-wrapper">
      <div id="nav">
        <span><%= link_to "Home", root_path, class: "main_link", alt: "College STAR Home", title: "College STAR Home" %></span><!--
        --><span><%= link_to "About", about_path, class: "main_link", alt: "About College STAR", title: "About College STAR" %></span><!--
        --><span><%= link_to "Events", events_path, class: "main_link", alt: "College STAR Events", title: "College STAR Events" %></span><!--
        --><span><%= link_to "Students", students_path, class: "main_link", alt: "College STAR for Students", title: "College STAR for Students" %></span><!--
        --><span><%= link_to "Faculty", faculty_path, class: "main_link", alt: "College STAR for Faculty", title: "College STAR for Faculty" %></span>
      </div>
      <!--
      <div id="search_bar_noScript">
        <div id="search_icon" ><span>Search</span></div>
          <form id="searchform" name="searchform" action="/" method="GET">
            <input type="text" name="search_string" value="" id="search_text" class="search_text" autocomplete="off" placeholder="Search" />
            <noscript><input type="submit" class="noscript_search_submit" id="query_submit" name="query_submit" value="Search" class="submit" /></noscript>
          </form>
        <div class="hidden" id="suggestions"> </div>
      </div>
      -->
    </div>
  </div>
</div>




