<div id="header">
  <div id="header-left">
    <a href="/" ><%= image_tag "emblem_trans.png", width: "400", height: "auto", alt: "College STAR Logo", title: "College STAR Home" %></a>
  </div>
  <div id="header-right">
    <div id="title-image">
      <%= image_tag "title_trans.png", width: "760", height: "auto" %>
    </div>
    <div id="nav-wrapper">
      <div id="nav">
        <span><%= link_to "Home", root_path, class: "main_link", alt: "College STAR Home", title: "College STAR Home" %></span><!--
        --><span><%= link_to "About", about_path, class: "main_link", alt: "About College STAR", title: "About College STAR" %></span><!--
        --><span><%= link_to "Events", events_path, class: "main_link", alt: "College STAR Events", title: "College STAR Events" %></span><!--
        --><span><%= link_to "Students", students_path, class: "main_link", alt: "College STAR for Students", title: "College STAR for Students" %></span><!--
        --><span><%= link_to "Faculty", faculty_path, class: "main_link", alt: "College STAR for Faculty", title: "College STAR for Faculty" %></span>
      </div>
      <div id="search_bar_noScript">
      <div id="search_icon" ><span>Search</span></div>
        <form id="searchform" name="searchform" action="/" method="GET">
          <input type="text" name="search_string" value="" id="search_text" class="search_text" autocomplete="off" placeholder="Search" />
          <noscript><input type="submit" class="noscript_search_submit" id="query_submit" name="query_submit" value="Search" class="submit" /></noscript>
        </form>
        <div class="hidden" id="suggestions"> </div>
      </div>
    </div>
  </div>
</div>
