<div id = "left-column-wrapper">
  <div id="news_feed">
    <h1>News Feed</h1>
    <%= link_to 'view all', news_articles_path, class: 'view-all' %>
    <ul>
    <% @news_articles.each do |news_article| %>
      <li><%= link_to news_article.title, news_article_path( news_article )  %></li> 
    <% end %>
    </ul>
  </div>
  <div id="side_bar_feature">
    <h1>Feature</h1>
    <h2><%= link_to("NURSES OFFERED MULTIPLE WAYS TO DEMONSTRATE LEADERSHIP SKILLS", "/news/nurses-offered-multiple-ways-to-demonstrate-leadership-skills" ) %></h2>
    <div class="thumb_nail">
    <%= link_to( image_tag("jan_tillman_75.jpg"),
          "/news/nurses-offered-multiple-ways-to-demonstrate-leadership-skills" )
      %>
    </div>
      <p>
        Dr. Jan Tillman is very aware that the advanced practice nurses in her leadership course are a heterogeneous group. <%= link_to "read more", "/news/nurses-offered-multiple-ways-to-demonstrate-leadership-skills", class: 'read-more' %>
      </p>
  </div>
</div>
