<div id = "left-column-wrapper">
  <div id="news_feed">
    <h1>News Feed</h1>
    <%= link_to 'view all', news_articles_path, class: 'view-all' %>
    <ul>
    <% @news_articles.each do |news_article| %>
      <li><%= link_to news_article.title, news_article_path( news_article )  %></li> 
    <% end %>
    </ul>
  </div>
  <div id="side_bar_feature">
    <h1>Feature</h1>
    <h2><%= link_to("DR. MULLER HAD LASTING IMPACT ON COLLEGE STAR PROGRAM", "/news/dr-muller-had-lasting-impact-on-college-star-program" ) %></h2>
    <div class="thumb_nail">
    <%= link_to( image_tag("content_dorothy_75.jpg"),
          "/news/dr-muller-had-lasting-impact-on-college-star-program" )
      %>
    </div>
      <p>
        Dr. Dorothy Muller is retiring after 40 years of service at East Carolina University. <%= link_to "read more", "/news/dr-muller-had-lasting-impact-on-college-star-program", class: 'read-more' %>
      </p>
  </div>
</div>
