<div id = "left-column-wrapper">
  <div id="news_feed">
    <h1>News Feed</h1>
    <%= link_to 'view all', news_articles_path, class: 'view-all' %>
    <ul>
    <% @news_articles.each do |news_article| %>
      <li><%= link_to news_article.title, news_article_path( news_article )  %></li> 
    <% end %>
    </ul>
  </div>
  <div id="side_bar_feature">
    <h1>Feature</h1>
    <h2><%= link_to("Flipping Classroom Boosts Student Engagement", "/news/flipping-classroom-boosts-student-engagement" ) %></h2>
    <div class="thumb_nail">
    <%= link_to( image_tag("enriquez-lola_ayde_75.jpg"),
          "/news/flipping-classroom-boosts-student-engagement" )
      %>
    </div>
      <p>
        English Composition II is a required course for freshmen at Fayetteville State University and Dr.   Aydé Enríquez-Loya wants to make sure her students finish the course with knowledge that will serve as a foundation for their academic and personal lives. <%= link_to "read more", "/news/flipping-classroom-boosts-student-engagement", class: 'read-more' %>
      </p>
  </div>
</div>
