<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>2020 Virtual Conference Schedule</h1>
      <p>Below you will find descriptions and meeting links to all of the conference sessions. Click 'session details' for each session to find information about each presenter, details about the session, and presentation materials and resources discussed in the session.</p>
      <p><em>All time EDT</em></p>

      <div id="virtual-conference-schedule-wrapper">
        <% @sessions.each do |session| %>
          <div class="schedule-time-block-wrapper">
            <h1><%= session.start_time.strftime( '%l:%M%p' ) %> -
              <%= session.end_time.strftime( '%l:%M%p' ) %> (EDT)</h1>
          </div>
          <div class="session">
          <div class="session-title">
          <h1><%= session.title %></h1>
          </div>
          <div class="session-short-description-wrapper">
            <p><%= session.short_description %>
          </div>
          
          <% unless session.slug == "morning-program-spotlights-and-q-a" || session.slug == "afternoon-program-spotlights-and-q-a" %>
          <div class="session-meeting-link-wrapper">
          <p>Meeting Password: <strong>cs2020</strong>
          <p>Session Meeting URL: <br /><%= link_to session.meeting_url, session.meeting_url %></p>
          </div>
          <% end %>
          <div class="session-link-wrapper">
            <p><%= link_to 'Session Details', virtual_conference_session_path( session ) %></p>
          </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
