<%= content_for :title, "Udl Module History" %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>Module History</h1>
      <div id="user-module-histories-table-wrapper">
        <table id="user-module-histories">
          <tr>
            <th width="55%">Module/Case Study</th>
            <th width="15%">Last Viewed</th>
            <th width="15%">Assessment</th>
            <th width="15%">Certificate</th>
          </tr>
          <% @module_histories.each do |history| %>
            <tr>
              <td><%= link_to history.udl_module.title.truncate(75), profile_user_module_history_path(id: history.id) %></td>
              <td><%= history.updated_at.strftime("%b %d, %Y") %>
              <td>
                <%= "Not Attempted" if !history.assessment_attempted %>
                <%= "Attempted, but Not Passed" if history.assessment_attempted && !history.assessment_passed %>
                <%= "Passed" if history.assessment_passed %>
              </td>
              <td>N/A</td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
