<div id="form-dss-contacts-wrapper">
  <%= form_for @dss_contact do |f| %>
    
    <%= render 'dss_contacts/forms/fields/institution_type', f: f %>
    <%= render 'dss_contacts/forms/fields/campus_name', f: f %>
    <%= render 'dss_contacts/forms/fields/dss_office', f: f %>
    <%= render 'dss_contacts/forms/fields/description_of_services', f: f %>
    <%= render 'dss_contacts/forms/fields/contact_person', f: f %>
    <%= render 'dss_contacts/forms/fields/contact_email', f: f %>
    <%= render 'dss_contacts/forms/fields/contact_phone_number', f: f %>
    <%= render 'dss_contacts/forms/fields/dss_website', f: f %>
    <%= render 'dss_contacts/forms/fields/new_submit', f: f %>
  <% end %>
</div>
