<% content_for :title, @event.name %>
<div id="content-wrapper">
<div id="single-column-wrapper">
<div id="content">
<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<p>
  <strong>Registration open datetime:</strong>
  <%= @event.registration_open_datetime %>
</p>

<p>
  <strong>Registration close datetime:</strong>
  <%= @event.registration_close_datetime %>
</p>

<p>
  <strong>Max registrants:</strong>
  <%= @event.max_registrants %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @event.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @event.end_datetime %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @event.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @event.zip_code %>
</p>

<% if can? :edit, @event %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<% if can? :index, @event %>
  <%= link_to 'Back', events_path %>
<% end %>
</div>
</div>
</div>
