<% content_for :title, @event.name %>
<div id="content-wrapper">
<div id="single-column-wrapper">
<div id="content">

<h1><%= @event.name.html_safe %></h1>
<p>Address: <strong><%= @event.address.html_safe %></strong></p>
<p>Dates: <strong><%= @event.start_date %> - <%= @event.end_date %></strong></p>
<p>Website: <a href="<%= @event.website.html_safe %>" target="_blank"><%= @event.website.html_safe %></a></p>
<h2>Description</h2>
<%= @event.description.html_safe %>

<% if policy(@event).edit? %>
<%= link_to 'Edit', edit_event_path(@event), id: 'edit_event_link' %> |
<% end %>
<% if policy(@event).index? %>
  <%= link_to 'Back', events_path %>
<% end %>
</div>
</div>
</div>
