<div id="<%= page.parameterize %>" class="module-page">
  <h2><%= page %></h2>
  
  <% @udl_module.get_sections_by_page(page.parameterize.underscore.to_sym).each do |section| %>
    <a id="<%= section.slug %>"></a>
    <div class="module-section-title-wrapper" data-no-turbolink>
        <h3>
          <% unless section.hide_title %>
            <%= section.title %> 
          <% end %>
          <% if policy(@udl_module).update? %> 
            <span class="edit-module-section-link"> 
              <%= link_to(
                    fa_icon( "pencil", text: "Edit this section"), 
                    edit_udl_module_section_path(udl_module_slug: @udl_module.slug, slug: section.slug),
                    id: "edit-udl-module-section-#{section.slug}"
                  ) %>
            </span>
          <% end %>
        </h3>
        <% if section.voiceover_audio && section.voiceover_audio != "" %>
          <div class="module-section-audio-wrapper">
            <div id=<%= "show-module-section-audio-player-toggle-wrapper-#{section.id}" %>>
              <a id=<%= "show-module-section-audio-player-toggle-#{section.id}" %> class="show-module-section-audio-player-toggle" href="#" ><%= fa_icon( "volume-up", text: "Audio version") %></a>
            </div>
            <div id=<%= "module-section-audio-#{section.id}" %> class="module-section-audio-player-wrapper hidden">
              <audio controls="controls" preload="metadata">
                <source src=<%= "https://collegestar-files.nyc3.digitaloceanspaces.com/udl-modules/#{@udl_module.slug}/audio/ogg/#{section.voiceover_audio}.ogg" %> type="audio/ogg">
                <source src=<%= "https://collegestar-files.nyc3.digitaloceanspaces.com/udl-modules/#{@udl_module.slug}/audio/mp3/#{section.voiceover_audio}.mp3" %> type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        <% end %>
      </div>
      <div class="module-section-content-wrapper">
        <%= section.content.html_safe %>
      </div>
  <% end %>
  <% if policy(@udl_module).update? %>
    <p>
      <%= link_to(
            fa_icon("plus", text: "Add a section"), 
            new_udl_module_section_path(udl_module_slug: @udl_module.slug, parent: page.parameterize.underscore),
            id: "udl-module-add-#{page.parameterize}-section",
            class: "create-module-button" 
          ) %>
    </p>
  <% end %>
</div>
