<a id="module-top"></a>
   <aside id="toc">
     <h1>Contents</h1>
     <ol>
       <li><a href="#introduction">Introduction</a>
         <ol>
           <% @udl_module.get_sections_by_page(:introduction).each do |section| %>
             <% unless section.hide_title %>
               <li><a href="#<%= section.slug %>"><%= section.title.html_safe %></a></li>
             <% end %>
           <% end %>
         </ol>
       </li>
       <li><a href="#objectives">Objectives</a></li>
       <li><a href="#udl-alignment">UDL Alignment</a></li>
       <li><a href="#instructional-practice">Instructional Practice</a>
         <ol>
            <% @udl_module.get_sections_by_page(:instructional_practice).each do |section| %>
              <% unless section.hide_title %>
                <li><a href="#<%= section.slug %>"><%= section.title.html_safe %></a></li>
              <% end %>
           <% end %>
         </ol>
       </li>           
       <li><a href="#learn-more">Learn More</a>
         <ol>
            <% @udl_module.get_sections_by_page(:learn_more).each do |section| %>
              <% unless section.hide_title %>
                <li><a href="#<%= section.slug %>"><%= section.title.html_safe %></a></li>
              <% end %>
           <% end %>
         </ol>
       </li>
       <li><a href="#references-resources">References &amp; Resources</a>
         <ol>
           <% @udl_module.get_sections_by_page(:references_resources).each do |section| %>
             <% unless section.hide_title %>
               <li><a href="#<%= section.slug %>"><%= section.title.html_safe %></a></li>
             <% end %>
           <% end %>
         </ol>
       </li>
       <% if current_user.id %>
         <li><%= link_to "Assessment", udl_module_assessment_path( udl_module_slug: @udl_module.slug ) %></li>
       <% end %>
       <li><a href="#about-the-author">About the Author</a>
         <ol>
           <% @udl_module.get_sections_by_page(:about_the_author).each do |section| %>
             <% unless section.hide_title %>
               <li><a href="#<%= section.slug %>"><%= section.title.html_safe %></a></li>
             <% end %>
           <% end %>
         </ol>
       </li>
     </ol>
   </aside>
