<% content_for :title, "2020 Virtual Confernece" %>
<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <div id="module-title">
        <div id="module-title-wrapper">
          <h1>College STAR Virtual Conference</h1>
          <h2>Preparing students who learn differently for college success</h2>
        </div>
      </div>
      <% if policy(VirtualConferenceProposal).index? %>
        <p><%= link_to 'View Proposals', virtual_conference_proposals_path %></p>
      <% end %>
      <% if policy(VirtualConferenceRegistration).index? %>
        <p><%= link_to 'View Registrations', virtual_conference_registrations_path %></p>
      <% end %>

      <%= @page_content.text.html_safe %>
      
      <div id="virtual-conference-registration-call-to-action-wrapper">
        <div class="button-wrapper">
          <%= link_to "Register for the Virtual Conference!", 
                      new_virtual_conference_registration_path, 
                      class: 'create-button' %>
        </div>
      </div>
      <p>&nbsp;</p>
      <h2>Interested in presenting?</h2>
      <p>We are still <%= link_to "accepting proposals", new_virtual_conference_proposal_path %> for conference presentations and would love to hear yours!</p>
    </div>
  </div>
</div>
