<h3>Faculty Member</h3>
<div class="label">
  <%= f.label :faculty_first_name, "First Name" %>
</div>
<div class="text-field">
  <%= f.text_field :faculty_first_name %>
</div>
<div  class="label">
  <%= f.label :faculty_last_name, "Last Name" %>
</div>
<div class="text-field">
  <%= f.text_field :faculty_last_name %>
</div> 
<div class="label">
  <%= f.label :Department_id, "Department" %>
</div>
<div class="select-box">
<%= f.collection_select :department_id, @departments, :id, :name, prompt: true %>
</div>

<!--
<div id="faculty-nomination-survey-faculty-member-wrapper">

  <h4>Can't find your Faculty Member?</h4>
  <p>
  If you don't see your faculty member listed, it's possible that they were not on our list of faculty. That's okay, we still want to recognize their work! Please just add their names below and we'll do our best to locate them.
  </p>
</div>
--> 
