<div>
  <div class="label">
    <%= f.label :teaching_strategy, "1. What would oyu call the teaching strategy?" %>
  </div>
  <div class="text-area">
    <%= f.text_area :teaching_strategy %>
  </div>
</div>
<div>
  <div class="label">
    <%= f.label :strategy_description, "2. Describe the instructional strategy, technique, or routine. Please be as specific as possible." %>
  </div>
  <div class="text-area">
    <%= f.text_area :strategy_description %>
  </div>
</div>
<div>
  <div class="label">
    <%= f.label :reasons_for_effectiveness, "3. Why did you find this strategy, technique, or routine to be effective for you? Please be as specific as possible." %>
  </div>
  <div class="text-area">
    <%= f.text_area :reasons_for_effectiveness %>
  </div>
</div>
