<div id="student-support-program-images-dropzone-wrapper">
  <%= f.fields_for :images do |images_form| %>
  <div class="label-wrapper">
    <%= images_form.label :image %>
  </div>
  <div>
    <img src="<%= images_form.object.image.url(:thumb) %>" />
    <%= images_form.file_field :image %>
  </div>
  <div class="label-wrapper">
    <%= images_form.label :caption %>
  </div>
  <div>
    <%= images_form.text_field :caption %>
  </div>
  <% end %>
</div>
