<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= "#{@survey.faculty_first_name} #{@survey.faculty_last_name}".html_safe %></h1>

      <%= render "faculty_nomination_surveys/partials/teaching_strategy", survey: @survey %>
      
      <%= form_for( @survey , url: campus_faculty_nomination_survey_path( campus_slug: @campus.slug, id: @survey.id ) ) do |f| %>
        <p>
          <%= f.label :quotes %>
        </p>
        <p>
          <%= f.text_area :quotes %>
        </p>
        <p>
          <%= f.label :not_appropriate, "This survey is inappropriate for sharing with the faculty member" %>
        </p>
        <p>
          <%= f.check_box :not_appropriate, id: :faculty_nomination_survey_not_appropriate %>
        </p>

        <p>
          <%= f.label :reviewed %>
        </p>
        <p>
          <%= f.check_box :reviewed %>
        </p>

        <%= f.submit "Update survey" %>
      <% end %>

    </div>
  </div>
</div>
