<% content_for :title, @survey.teaching_strategy.html_safe %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1>
        <%= truncate( @survey.teaching_strategy.html_safe, length: 50, separator: ' ' ) %>
        <span class="edit-faculty-nomination-survey-link">
          <%= link_to(
                fa_icon("pencil", text: "Edit this survey"),
                edit_campus_faculty_nomination_survey_path( campus_slug: @campus.slug, id: @survey.id ),
                id: "edit_faculty_nomination_survey_#{@survey.id}_link"
              ) %>
        </span>
      </h1>
      
      <%= render "faculty_nomination_surveys/partials/faculty_info", survey: @survey %>            
      <%= render "faculty_nomination_surveys/partials/teaching_strategy", survey: @survey %>            
      <%= render "faculty_nomination_surveys/partials/student_info", survey: @survey %>            
      
      <p>
        <%= link_to( fa_icon( 'arrow-left', text:  "Back to Faculty Nomination Surveys" ), 
                     campus_faculty_nomination_surveys_path( campus_slug: @campus.slug ) 
                   )%>
      </p>
    </div>
  </div>
</div>
