<% content_for :title, "Universal Design for Learning Resources" %>
<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @page_content.title.html_safe %></h1>
      <%= render(
            'shared/bread_crumb_social_media',
            bread_crumb_args: {
              page_name: 'Universal Design for Learning Resources'
            }
          ) %>
       <%= @page_content.text.html_safe %>
    
      <% if policy(UniversalDesignForLearningResource).view_admin? %>
        <p>
          <%= link_to(
                fa_icon("plus", text: "New UDL Resource"),
                new_universal_design_for_learning_path
              ) %>
        </p>
      <% end %>
      
      <ul id="published-udl-resources">
      <% @published_udl_resources.each do |resource| %>
        <li><h2><%= link_to resource.title.html_safe, universal_design_for_learning_path(resource) %></h2>
          <%= resource.description.html_safe %>
        </li>
      <% end %>
      </ul>
      
      <% if policy(UniversalDesignForLearningResource).view_admin? %>
        <h3>Unpublished Resources</h3>
        <ul id="unpublished-udl-resources">
        <% @unpublished_udl_resources.each do |resource| %>
          <li><h2><%= link_to resource.title.html_safe, universal_design_for_learning_path(resource) %></h2>
            <%= resource.description.html_safe %>
          </li>
        <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
