<div id="page-form-wrapper">
  <%= form_for @page do |f| %>
    <%= render 'pages/forms/fields/title', f: f %>    
    <%= render 'pages/forms/fields/slug', f: f %>
    <%= render 'pages/forms/fields/text', f: f %>
    <%= render 'pages/forms/fields/submit', f: f %>
  <% end %>
</div>
