<div id="content-wrapper">
<%= render "shared/side_bar" %>
  <div id="right-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      
      <h1>Particpating Campuses</h1>
      <% if can? :create, @campus %>      
        <%= link_to 'New Campus', new_campus_path %>
       <% end %> 
      <div id="campuses"> 
      <% @campuses.each do |campus| %>
        <div class="campus-wrapper">
          <div class="campus-image">
            <%= image_tag campus.image.url(:medium) %>
          </div>
          <div class="campus-info">
            <h2><%= campus.name %>
              <span class="edit-campus-link"> 
                 <%= link_to(
                       fa_icon( "pencil", text: "Edit this campus"), 
                       edit_campus_path(slug: campus.slug) 
                     ) %>
             </span>
             </h2>
            <div class="campus-info-title">
              <p>website:</p>
            </div>
            <div class="campus-info-value">
              <p><%= link_to campus.website_url, url_with_protocol(campus.website_url), target: "_blank" %></p>
            </div>
          </div>
          <div class="campus-info">
            <div class="campus-info-title">
              <p>address:</p>
            </div>
            <div class="campus-info-value">
              <p>
                <%= format_address( campus ) %>
              </p>
            </div>
          </div>
          <div class="campus-info">
            <div class="campus-info-title">
              <p>contact:</p>
            </div>
            <div class="campus-info-value">
              <p>
                <%= campus.director.full_name %>
              </p>
            </div>
          </div>          
          <div class="campus-info">
            <div class="campus-info-title">
              <p>phone:</p>
            </div>
            <div class="campus-info-value">
              <p>
                <%= campus.director.phone_number %>
              </p>
            </div>
          </div>          
          <div class="campus-info">
            <div class="campus-info-title">
              <p>email:</p>
            </div>
            <div class="campus-info-value">
              <p>
                <%= mail_to campus.director.email %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <h1>College STAR Grant P.I.</h1>        
      <div class="campus-pi">
          <div class="campus-image">
            <%= image_tag 'swilliams.jpg' %>
          </div>
          <div class="campus-info">
            <h2>Sarah C. Williams, PhD</h2>
          </div>
          <div class="campus-info">
            <div class="campus-info-title">
              <p>address:</p>
            </div>
            <div class="campus-info-value">
              <p>
                2701 Joyner Library<br />
                1000 East Fifth Street<br />
                East Carolina University<br />
                Greenville, NC 27858 
              </p>
            </div>
          </div>
          <div class="campus-info">
            <div class="campus-info-title">
              <p>phone:</p>
            </div>
            <div class="campus-info-value">
              <p>
                (252) 328-1101                
              </p>
            </div>
          </div>          
          <div class="campus-info">
            <div class="campus-info-title">
              <p>email:</p>
            </div>
            <div class="campus-info-value">
              <p>
                <%= mail_to "WILLIAMSSAR@ecu.edu" %> (preferred)
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
