<div id="content-wrapper">
<%= render "shared/side_bar" %>
  <div id="right-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      
      <h1>Particpating Campuses</h1>
      
      <%= link_to 'New Campus', new_campus_path %>
      
      <div id="campuses"> 
      <% @campuses.each do |campus| %>
        <div class="campus-wrapper">
          <div class="campus-image">
            <%= image_tag campus.image.url(:medium) %>
          </div>
          <div class="campus-info">
            <h2><%= campus.name %></h2>
            <div class="campus-info-title">
              <p>website:</p>
            </div>
            <div class="campus-info-value">
              <p><%= campus.website_url %></p>
            </div>
          </div>
          <div class="campus-info">
            <div class="campus-info-title">
              <p>address:</p>
            </div>
            <div class="campus-info-value">
              <p>
                <%= campus.address_1 %><br />
                <%= campus.city %>, <%= campus.state %> <%= campus.zip %>
              </p>
            </div>
          </div>
          <div class="campus-info">
            <div class="campus-info-title">
              <p>contact:</p>
            </div>
            <div class="campus-info-value">
              <p>
                <%= campus.director_id %>
              </p>
            </div>
          </div>          
          <div class="campus-info">
            <div class="campus-info-title">
              <p>phone:</p>
            </div>
            <div class="campus-info-value">
              <p>
                Director's Phone Number
              </p>
            </div>
          </div>          
          <div class="campus-info">
            <div class="campus-info-title">
              <p>email:</p>
            </div>
            <div class="campus-info-value">
              <p>
                Director's Email.
              </p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <h1>College STAR Grant P.I.</h1>        
      <div class="campus-pi">
          <div class="campus-image">
            <%= image_tag 'swilliams.jpg' %>
          </div>
          <div class="campus-info">
            <h2>Sarah C. Williams, PhD</h2>
          </div>
          <div class="campus-info">
            <div class="campus-info-title">
              <p>address:</p>
            </div>
            <div class="campus-info-value">
              <p>
                2701 Joyner Library<br />
                1000 East Fifth Street<br />
                East Carolina University<br />
                Greenville, NC 27858 
              </p>
            </div>
          </div>
          <div class="campus-info">
            <div class="campus-info-title">
              <p>phone:</p>
            </div>
            <div class="campus-info-value">
              <p>
                (252) 328-1101                
              </p>
            </div>
          </div>          
          <div class="campus-info">
            <div class="campus-info-title">
              <p>email:</p>
            </div>
            <div class="campus-info-value">
              <p>
                WILLIAMSSAR@ecu.edu (preferred)
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
