<div id="content-wrapper">
<%= render "shared/left_info" %>
  <div id="right-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      
      <h1>Particpating Campuses</h1>
      <div id="campuses"> 
      <% @campuses.each do |campus| %>
        <div class="campus-wrapper">
          <div class="campus-image">
            <%= image_tag campus.image.url(:medium) %>
          </div>
          <div class="campus-info">
            <h2><%= campus.name %></h2>
            <div class="campus-info-title">
              <p>website:</p>
            </div>
            <div class="campus-info-value">
              <p><%= campus.website_url %></p>
            </div>
          </div>
          <div class="campus-info">
            <div class="campus-info-title">
              <p>address:</p>
            </div>
            <div class="campus-info-value">
              <p>
                <%= campus.address_1 %><br />
                <%= campus.city %>, <%= campus.state %> <%= campus.zip %>
              </p>
            </div>
          </div>
          <div class="campus-info">
            <div class="campus-info-title">
              <p>contact:</p>
            </div>
            <div class="campus-info-value">
              <p>
                <%= campus.director_id %>
              </p>
            </div>
          </div>          
          <div class="campus-info">
            <div class="campus-info-title">
              <p>phone:</p>
            </div>
            <div class="campus-info-value">
              <p>
                Director's Phone Number
              </p>
            </div>
          </div>          
          <div class="campus-info">
            <div class="campus-info-title">
              <p>email:</p>
            </div>
            <div class="campus-info-value">
              <p>
                Director's Email.
              </p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <h1>College STAR Grant P.I.</h1>
      <%= link_to 'New Campus', new_campus_path %>

    </div>
  </div>
</div>
