<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campus.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @campus.abbreviation %>
</p>

<p>
  <strong>Institution Type:</strong>
  <%= @campus.institution_type %>
</p>

<p>
  <strong>Director:</strong>
  <%= @campus.director_id %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @campus.website_url %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @campus.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @campus.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @campus.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @campus.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @campus.zip %>
</p>

<%= link_to 'Edit', edit_campus_path(@campus) %> |
<%= link_to 'Back', campuses_path %>
