<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campuse.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @campuse.abbreviation %>
</p>

<p>
  <strong>Institution Type:</strong>
  <%= @campuse.institution_type %>
</p>

<p>
  <strong>Director:</strong>
  <%= @campuse.director_id %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @campuse.website_url %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @campuse.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @campuse.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @campuse.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @campuse.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @campuse.zip %>
</p>

<p>
  <strong>Image URL:</strong>
  <%= @campuse.image_url %>
</p>

<%= link_to 'Edit', edit_campuse_path(@campuse) %> |
<%= link_to 'Back', campuses_path %>
