<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      <div id="campus-title-wrapper">      
        <div id="campus-image">
          <%= image_tag @campus.image.url(:medium) %>
        </div>
        <div id="campus-title">
          <h1><%= @campus.name %></h1>
        </div>
     </div> 
           
      <% if can? :update, @campus %>
        <%= link_to 'Edit', edit_campus_path(@campus) %> | 
      <% end %>
      <% if can? :index, @campus %>
        <%= link_to 'Back', campuses_path %>
      <% end %>
    </div>
  </div>
</div>
