<%= form_for([@udl_module, @udl_module_section], url: udl_module_section_path(@udl_module, @udl_module_section)) do |f| %>
  <div class="field">
    <%= f.label :hide_title %>
    <%= f.check_box :hide_title %>
  </div>
  <div class="field">
    <%= f.cktext_area :content, ckeditor: { toolbar: 'module_author', height: 600 } %>
  </div>   
  <div class="actions">
    <p>
    <%= button_tag(
          type: 'submit',
          class: 'create-button'
        ) do
          fa_icon( 'check', text: 'Save section' )
        end %>
    </p>
  </div>

<% end %>
