<div id="student-support-summit-registration-first-attendee-wrapper">
  <div id="first-attendee-first-name-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_first_name, "First name" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_first_name %>
    </div>
  </div>
  <div id="first-attendee-last-name-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_last_name, "Last name" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_last_name %>
    </div>
  </div>
  
  <div id="first-attendee-email-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_email, "Email" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_email %>
    </div>
  </div>
  <div id="first-attendee-phone-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_phone, "Phone" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_phone %>
    </div>
  </div>
  
  <div id="first-attendee-address-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_address, "Address" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_address %>
    </div>
  </div>
  <div id="first-attendee-address-2-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_address_2, "Address cont." %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_address_2 %>
    </div>
  </div>
  <div id="first-attendee-city-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_city, "City" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_city %>
    </div>
  </div>
  <div id="first-attendee-state-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_state, "State" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_state %>
    </div>
  </div>
  <div id="first-attendee-zip-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_zip, "Zip" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_zip %>
    </div>
  </div>
  
  <div id="first-attendee-arrival-date-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_arrival_date, "Arrival date" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_arrival_date %>
    </div>
  </div>
  <div id="first-attendee-departure-date-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_departure_date, "Departure date" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :first_attendee_departure_date %>
    </div>
  </div>
  <div id="first-attendee-travel-by-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_travel_by, "How will you be traveling?" %>
    </div>
    <div class="select-box-wrapper">
      <%= f.select :first_attendee_travel_by, ['Car', 'Plane', 'Train'] %>
    </div>
  </div>
  
  <div id="first-attendee-dietary-restrictions-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_dietary_restrictions, "Dietary restrictions" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_area :first_attendee_dietary_restrictions %>
    </div>
  </div>
  <div id="first-attendee-accessability-needs-wrapper">
    <div class="label-wrapper">
      <%= f.label :first_attendee_accessability_needs, "Accessability needs" %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_area :first_attendee_accessability_needs %>
    </div>
  </div>
</div>
