<div id="student-support-summit-registration-program-information-wrapper">
  <div id="program-name-wrapper">
    <div class="label-wrapper">
      <%= f.label :program_name %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :program_name %>
    </div>
  </div>
  <div id="institution-wrapper">
    <div class="label-wrapper">
      <%= f.label :institution %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :institution %>
    </div> 
  </div>
  <div id="contact-name-wrapper">
    <div class="label-wrapper">
      <%= f.label :contact_name %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :contact_name %>
    </div>
  </div>
  <div id="contact-email-wrapper">
    <div class="label-wrapper">
      <%= f.label :contact_email %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :contact_email %>
    </div> 
  </div>
  <div id="contact-phone-wrapper">
    <div class="label-wrapper">
      <%= f.label :contact_phone %>
    </div>
    <div class="text-field-wrapper">
      <%= f.text_field :contact_phone %>
    </div> 
  </div>
</div>
