<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">

      <h1>2020 College STAR Virtual Conference Proposals</h1>
      
      <%= form_for @proposal do |f| %>
        <div id="virtual-conference-proposal-form-wrapper">
          <div class="field-wrapper">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div class="field-wrapper">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
          <div class="field-wrapper">
            <%= f.label :presentation_theme, "Presentation Theme" %>
            <%= f.select( :presentation_theme, options_for_select(
                  [
                    ["Determining a student learning profile", :determining_student_learning_profile],
                    ["Myths or information about accomodations, IEP's, & 504 plans in college", 
                      :accomodations_ieps_504_college],
                    ["Transition from high school to college", :transition_from_high_school_to_college],
                    ["Identifying student support programs", :identifying_student_support_programs]
                  ])
            ) %>
          </div>
          <div class="field-wrapper">
            <%= f.label :presentation_title, "Presentation Title" %>
            <%= f.text_field :presentation_title %>
          </div>
          <div class="field-wrapper">
            <%= f.label :presentation_description, "Brief Presentation Description" %>
            <%= f.text_area :presentation_description %>
          </div>
          <div class="field-wrapper">
            <%= f.label :presentation_takeaway, "Presentation Takeaway" %>
            <p>Presentations will each provide a takeaway that will build into a toolkit for participants. Please describe how this presentation will contribute to that toolkit.</p>
            <%= f.text_area :presentation_takeaway %>
          </div>
          <div id="virtual-conference-proposal-submit-wrapper">
            <div class="actions">
              <%= f.submit "Submit Proposal", id: "virtual_conference_proposal_submit" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
