<%= form_for(@udl_module) do |f| %>
  <% if @udl_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@udl_module.errors.count, "error") %> prohibited this udl_module from being saved:</h2>

      <ul>
      <% @udl_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@udl_module.released %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :sub_heading %><br>
    <%= f.text_field :sub_heading %>
  </div>

  <h1>Description</h1>
  <div class="field">
    <%= f.label :description, "Please provide a brief summary about this module." %><br>
    <%= f.text_area :description %>
  </div>


  <h1>UDL Alignment</h1>
  <div class="field">
    <%= f.check_box :udl_representation %>
    <%= f.label :udl_representation, "Representation" %><br>
  </div>  
  <div class="field">
    <%= f.check_box :udl_action_expression %>
    <%= f.label :udl_action_expression, "Action and Expression" %><br>
  </div>
  <div class="field">
    <%= f.check_box :udl_engagement %>
    <%= f.label :udl_engagement, "Engagement" %><br>
  </div>

  <h1>Release Status</h1>

  <div class="field">
    <%= f.check_box :released %>
    <%= f.label :released %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br>
    <%= f.date_select :release_date %>
  </div>
  <div class="actions">
    <%= button_tag(
          type: 'submit',
          class: 'create-button'
        ) do 
            fa_icon( 'floppy-o', text: 'Save changes' )
          end %>
  </div>
<% end %>
