<%= form_for(@udl_module) do |f| %>
  <% if @udl_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@udl_module.errors.count, "error") %> prohibited this udl_module from being saved:</h2>

      <ul>
      <% @udl_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :sub_heading %><br>
    <%= f.text_field :sub_heading %>
  </div>
  <div class="field">
    <%= f.label :udl_principles %><br>
    <%= f.text_field :udl_principles %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
