<%= render 'shared/social_media/facebook_init' %>
<%= render 'shared/social_media/twitter_init' %>
<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      
      <h1><%= @page_content.title.html_safe %></h1>        
      <%= render( 'shared/bread_crumb_social_media', 
            bread_crumb_args: {
              page_name: 'udl modules',
              parents: [
                [ 'faculty', faculty_path]
              ]
            }, 
            social_media_args: {
              show: true,
              tweet_text: 'Faculty Development Modules'
            }
          ) %>
      <%= @page_content.text.html_safe %>
      <h3>Currently Available Modules</h3>
        <div class="udl-module-list-wrapper">
          <% @released_modules.each do |udl_module| %>
            <div class="udl-module-wrapper">
              <div class="title-image-wrapper">
                <% if udl_module.title_image.exists? %>
                  <%= image_tag udl_module.title_image.url(:medium) %> 
                <% else %>
                  <%= image_tag "defaults/medium/module_title_image.png" %>
                <% end %>
              </div>
              <div class="title-wrapper">
                <h1><%= link_to( udl_module.title, udl_module ) %>
                <% if policy(udl_module).edit? %>
                <span class="edit-module-link"> 
                  <%= link_to(
                    fa_icon( "pencil", text: "Edit this module" ),
                    edit_udl_module_path( udl_module ) 
                  ) %>
                </span>
                </h1>
              <% end %>
              </div>
              <div class="description-wrapper">
                <%= udl_module.description.html_safe %>
              </div>
              </div>
          <% end %>
        </div>


      <h3>Legacy Module Format</h3>
<p>
We are in the process of updating and expanding our module offerings. Not all of our original modules have been converted at this point. If you need to view any of these modules, please find them in the list below. 
</p>
      <ul>
        <li><%= link_to "Charting Student Information", "http://legacy.collegestar.org/modules/csi/introduction", target: "_blank" %></li>
        <li><%= link_to "Using Clickers", "http://legacy.collegestar.org/modules/crs/introduction", target: "_blank" %></li>
        <li><%= link_to "Utilizing Livescribe Smartpens", "http://legacy.collegestar.org/modules/lsp/introduction", target: "_blank" %></li>
        <li><%= link_to "Cooperative Learning", "http://legacy.collegestar.org/modules/col/introduction", target: "_blank" %></li>
        <li><%= link_to "Cultivating Learner Attention and Engagement", "http://legacy.collegestar.org/modules/clae/introduction", target: "_blank" %></li>
        <li><%= link_to "Using Syllabi to Organize Courses", "http://legacy.collegestar.org/modules/usoc/introduction", target: "_blank" %></li>
        <li><%= link_to "Promoting Student Engagement", "http://legacy.collegestar.org/modules/pse/introduction", target: "_blank" %></li>
        <li><%= link_to "Using Quizzes to Increase Compliance with Assigned Readings", "http://legacy.collegestar.org/modules/qrc/introduction", target: "_blank" %></li>
        <li><%= link_to "Using Organization to Streamline Courses", "http://legacy.collegestar.org/modules/uosc/introduction", target: "_blank" %></li>
        <li><%= link_to "Advance Organizers", "http://legacy.collegestar.org/modules/aopsl/introduction", target: "_blank" %></li>
        <li><%= link_to "The Flipped Classroom", "http://legacy.collegestar.org/modules/fc/introduction", target: "_blank" %></li>
        <li><%= link_to "Read & Write Gold", "http://legacy.collegestar.org/modules/rwg/introduction", target: "_blank" %></li>
        <li><%= link_to "Padagogy Wheel", "http://legacy.collegestar.org/modules/pw/introduction", target: "_blank" %></li>
        <li><%= link_to "Game-Based Learning", "http://legacy.collegestar.org/modules/gam/introduction", target: "_blank" %></li>
        <li><%= link_to "Creating a Welcoming Learning Environment in the Classroom", "http://legacy.collegestar.org/modules/wle/introduction", target: "_blank" %></li>
        <li><%= link_to "When Lecture is Necessary", "http://legacy.collegestar.org/modules/wln/introduction", target: "_blank" %></li>
        <li><%= link_to "Active Collaborative Quizzes with Manipulatives", "http://legacy.collegestar.org/modules/cq/introduction", target: "_blank" %></li>
        <li><%= link_to "Inquiry-based Learning", "http://legacy.collegestar.org/modules/ibl/introduction", target: "_blank" %></li>
        <li><%= link_to "Mnemonic Devices for Instruction", "http://legacy.collegestar.org/modules/mdi/introduction", target: "_blank" %></li>
        <li><%= link_to "Writing for the Right Audience", "http://legacy.collegestar.org/modules/wra/introduction", target: "_blank" %></li>
        <li><%= link_to "Lecture Capture", "http://legacy.collegestar.org/modules/lc/introduction", target: "_blank" %></li>
      </ul>
 
      <h3>Recommended Modules &amp; Resources</h3>

        <ul>
          <li><a href="http://udloncampus.cast.org" target="_blank">Udl on Campus - Universal Design for Learning in Higher Education</a> - CAST</li>
          <li><a href="http://udlonline.cast.org/page/module1/l3/" target="_blank">Introduction to UDL</a> – CAST</li>
          <li><a href="http://udlonline.cast.org/page/module2/l3" target="_blank">Applying the UDL Framework to Lesson Development</a> – CAST</li>
          <li><a href="http://ctfd.sfsu.edu/universal-design-for-learning-online-training-module" target="_blank">Universal Design for Learning Online Training Module</a> – San Francisco State Univeristy</li>
          <li><a href="http://www.flconsortiumudl.net/content/section1/01.aspx" target="_blank">Postsecondary Education and Universal Design for Learning</a> - Florida Consortium on Postsecondary Education</li>
          <li><a href="http://elixr.merlot.org/case-stories/understanding--meeting-students-needs/universal-design-for-learning-udl?noCache=683:1376340393" target="_blank">Universal Design for Learning Case Stories</a> - Merlot Elixir</li>
          <li><a href="http://www.udluniverse.com" target="_blank">UDL Online Video Case Stories  (under UDL Course Changes)</a> - EnACT  Ensuring Access through Collaboration and Technology: Partnerships, Technology and Dissemination, California State University
          <p class="revision">(Select Video Case Studies from UDL Course Changes Dropdown)</p>
          </li>
          <li><a href="http://www.udi.uconn.edu/index.php?q=content/legal-module&quicktabs_5=0#quicktabs-5" target="_blank">Legal Module on Postsecondary Law</a>  – University of Connecticut</li>
          <li><a href="http://udi.uconn.edu/index.php?q=content/e-toolbox" target="_blank">E-Toolbox</a> - University of Connecticut</li>
          <li><a href="http://mast.ecu.edu/modules/tpc_ec" target="_blank">Transition Planning Consideration: E-mail Communication</a> - (MAST Modules) East Carolina University</li>
          <li><a href="http://serc.carleton.edu/econ/index.html" target="_blank">Starting Point: Teaching and Learning Economics</a> - Science Education Resource Center at Carleton College</li>
          <li><a href="http://serc.carleton.edu/introgeo/index.html" target="_blank">Starting Point: Teach Entry Level Geosciences</a> - Science Education Resource Center at Carleton College</li>
          <li><a href="http://www.cmu.edu/teaching/assessment/index.html" target="_blank">Assess Teaching and Learning</a> - Carnegie Melon University</li>
          <li><a href="http://accessproject.colostate.edu/udl/index.php " target="_blank">UDL Technical Modules</a> – The ACCESS Project Colorado State University
           <p class="revision">(These modules are focused on accessibility with Microsoft programs and multimedia.)</p></li>
        </ul>

      <br>
      <% if policy(UdlModule).create? %> 
        <h2>Faculty Development Module Administration</h2>
        <p>
        <%= link_to(
              fa_icon( 'plus', text: 'New Udl module' ),
              new_udl_module_path,
              class: 'create-module-button'
            ) %>
        </p>

        <h3>Unreleased Faculty Development Modules</h3>
          <ul>
          <% @unreleased_modules.each do |udl_module| %>
            <li><%= link_to( udl_module.title, udl_module ) %>
              <% if policy(udl_module).edit? %>
                <span class="edit-module-link"> 
                  <%= link_to(
                    fa_icon( "pencil", text: "Edit this module" ),
                    edit_udl_module_path( udl_module ) 
                  ) %>
                </span>
              <% end %>
          <% end %>
          </ul>
      <% end %>      
      
      <% if policy(UdlModule).admin? %>
        <h3>Shared Sections</h3>
        <h4>Introduction</h4>
        <ul>
        <% @shared_module_sections[:introduction].each do |section| %>
          <li><%= link_to( section.title, edit_shared_module_section_path(section) ) %></li>
        <% end %>
        </ul>
  
        <h4>Instructional Practice</h4>
        <ul>
        <% @shared_module_sections[:instructional_practice].each do |section| %>
          <li><%= link_to( section.title, edit_shared_module_section_path(section) ) %></li>
        <% end %>
        </ul>
        
        <h4>Literature Base</h4>
        <ul>
        <% @shared_module_sections[:literature_base].each do |section| %>
          <li><%= link_to( section.title, edit_shared_module_section_path(section) ) %></li>
        <% end %>
        </ul>
        <h4>Learn More</h4>
        <ul>
        <% @shared_module_sections[:learn_more].each do |section| %>
          <li><%= link_to( section.title, edit_shared_module_section_path(section) ) %></li>
        <% end %>
        </ul>
            
        <h4>References and Resources</h4>
        <ul>
        <% @shared_module_sections[:references].each do |section| %>
          <li><%= link_to( section.title, edit_shared_module_section_path(section) ) %></li>
        <% end %>
        </ul>
        <p>
        <%= link_to(
              fa_icon( 'plus', text: 'Add Shared Section' ),
              new_shared_module_section_path,
              class: 'create-module-button'
            ) %>
        </p> 
      <% end %>

    </div>
  </div>
</div>
