<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <p id="notice"><%= notice %></p>
      
      <h1>Facutly Development Modules</h1>
      <ul> 
          <% @udl_modules.each do |udl_module| %>
              <li><%= udl_module.title %>
              <%= udl_module.slug %>
              <%= link_to 'Show', udl_module %>
              <%= link_to 'Edit', edit_udl_module_path(udl_module) %>
              <%= link_to 'Destroy', udl_module, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
      </ul>
      <br>
      
      <%= link_to 'New Udl module', new_udl_module_path %>
    </div>
  </div>
</div>
