<% content_for :title, @udl_module.title %>
<%= render 'shared/social_media/facebook_init' %>
<%= render 'shared/social_media/twitter_init' %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <main>
        <%= render 'udl_modules/partials/header' %>
        <article id="module-content">
          <div id="module-introduction-wrapper">   
            <%= render 'udl_modules/partials/table_of_contents' %>
            <%= render 'udl_modules/partials/page', page: 'Introduction' %>       
          </div>
          <%= render 'udl_modules/partials/page', page: 'Objectives' %>
          <%= render 'udl_modules/partials/page', page: 'UDL Alignment' %>
          <%= render 'udl_modules/partials/page', page: 'Instructional Practice' %>
          <%= render 'udl_modules/partials/page', page: 'Learn More' %>
          <%= render 'udl_modules/partials/page', page: 'References & Resources' %>
          <%= render 'udl_modules/partials/page', page: 'About the Author' %>
           
          <div id="module-footer-info">
            <p>
              <strong>Latest revision date:</strong>
              <%= @udl_module.latest_revision_date %>
            </p>
          </div>
        </article>
      </main>
      <div id="feedback-modal" class="hidden">
        <div id="close-wrapper">
          <div id="feedback-modal-close-button"><strong>close</strong></div>
        </div>
        <div id="feedback-request-wrapper"
          <% if current_user.email != "" %>
            data-user=<%= current_user.email %>
          <% end %>
          data-udl-module=<%= @udl_module.slug %>
        >
          <h1>Did you find this resource helpful?</h1>
          <div id='feedback-thumbs-wrapper'>
            <a href="#" id="feedback-thumbs-up" title='Yes, I found this resource helpful.'><i class="fa fa-thumbs-up fa-la"></i></a>
              &nbsp;&nbsp;
            <a href="#" id='feedback-thumbs-down' title='No, I did not find this resource helpful.'><i class="fa fa-thumbs-down fa-la"></i></a>
          </div>
        </div>
        <div id="feedback-was-helpful-complete" class="hidden">
          <h1>Thanks for your feedback!</h1>
          <p>We received your feedback,</p>
          <p>We would greatly appriciate your willingness to complete our short, <%= link_to "2 minute survey", new_udl_module_udl_module_survey_path( udl_module_slug: @udl_module.slug) %> so that we can better understand what you found useful about our modules.</p>
          <p>Thanks for your time!<br />
          The College STAR Team</p>
          
        </div>
        <div id="feedback-was-not-helpful-complete" class="hidden">
          <h1>Thanks for your feedback!</h1>
          <p>We received your feedback and value what you have to say. In an effort to better our modules and case studies would you be willing to share why you did not find this resource helpful? We have a simple <%= link_to "2 minute survey", new_udl_module_udl_module_survey_path(udl_module_slug: @udl_module.slug) %>.</p>
          <p>Thanks for your time!<br />
          The College STAR Team</p>
        </div>
      </div>
    </div>
  </div>
</div>
