<% content_for :title, @udl_module.title %>
<%= render 'shared/social_media/facebook_init' %>
<%= render 'shared/social_media/twitter_init' %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <main>
        <%= render 'udl_modules/partials/header' %>
        <article id="module-content">
          <div id="module-introduction-wrapper">   
            <%= render 'udl_modules/partials/table_of_contents' %>
            <%= render 'udl_modules/partials/page', page: 'Introduction' %>       
          </div>
          <%= render 'udl_modules/partials/page', page: 'Objectives' %>
          <%= render 'udl_modules/partials/page', page: 'UDL Alignment' %>
          <%= render 'udl_modules/partials/page', page: 'Instructional Practice' %>
          <%= render 'udl_modules/partials/page', page: 'Learn More' %>
          <%= render 'udl_modules/partials/page', page: 'References & Resources' %>
          <%= render 'udl_modules/partials/page', page: 'About the Author' %>
           
          <div id="module-footer-info">
            <p>
              <strong>Latest revision date:</strong>
              <%= @udl_module.latest_revision_date %>
            </p>
          </div>
        </article>
      </main>
      <div id="feedback-modal" class="hidden">
        <div id="close-wrapper">
          <div id="feedback-modal-close-button"><strong>close</strong></div>
        </div>
        <h1>Did you find this resource helpful?</h1>
        <div id='feedback-thumbs-wrapper'>
          <%= link_to '<i class="fa fa-thumbs-up fa-la"></i>'.html_safe, root_path, id: 'feedback_thumbs_up', title: 'Yes, I found this resource helpful.' %> 
            &nbsp;&nbsp;
          <%= link_to '<i class="fa fa-thumbs-down fa-la"></i>'.html_safe, root_path, title: 'No, I did not find this resource helpful.' %>
        </div>
      </div>
    </div>
  </div>
</div>
