<% content_for :title, @udl_module.title %>

<div id="content-wrapper">
  <div id="single-column-wrapper">
    <div id="content">
  <main>
    <% if policy(@udl_module).update? %>
    <div id="admin-tools">
      <%= link_to(
            fa_icon('bars', text: 'settings'),
            edit_udl_module_path(@udl_module)     
          ) %>
    </div>
    <% end %>
    <section id="module-title">
      <div id="module-icon-wrapper">
       <a href="#udl-icon" title="This icon is a graphical representation of UDL priniciples with which this module aligns."><%= image_tag( 'trans.png', class: get_udl_trio_class(@udl_module), alt: 'This module models the UDL Principles of Representation and Action and Expression.') %></a>
       
      </div>
      <div id="module-title-wrapper">
       <h1><%= @udl_module.title %></h1>
       <h2><%= @udl_module.sub_heading %>
      </div>
    </section>        
    <div id="bread-crumb-wrapper">
        <%= format_bread_crumb( page_name: @udl_module.title, 
              parents: [
                [ 'faculty', faculty_path ],
                ['udl modules', udl_modules_path ]
              ]
            ) %>
      </div>


    <article id="module-content">
    <a id="module-top"></a>
    <div id="module-introduction-wrapper">   
       <aside id="toc">
         <h1>Contents</h1>
         <ol>
           <li><%= link_to("Introduction", udl_module_url(@udl_module, anchor: "introduction")) %>
             <ol>
               <% @udl_module.get_sections_by_page(:introduction).each do |section| %>
                 <% unless section.hide_title %>
                   <li><%= link_to( section.title, udl_module_url(@udl_module, anchor: section.slug))  %></li>
                 <% end %>
               <% end %>
             </ol>
           </li>
           <li><%= link_to("UDL Principles", udl_module_url(@udl_module, anchor: "udl-principles")) %>
             <ol>
                <% @udl_module.get_sections_by_page(:udl_principles).each do |section| %>
                 <li><%= link_to( section.title, udl_module_url(@udl_module, anchor: section.slug))  %></li>
               <% end %>
             </ol>
           </li>
           <li><%= link_to("Instructional Practice", udl_module_url(@udl_module, anchor: "instructional-practice")) %>
             <ol>
                <% @udl_module.get_sections_by_page(:instructional_practice).each do |section| %>
                 <li><%= link_to( section.title, udl_module_url(@udl_module, anchor: section.slug))  %></li>
               <% end %>
             </ol>
           </li>           
           <li><%= link_to("Learn More", udl_module_url(@udl_module, anchor: "learn-more")) %>
             <ol>
                <% @udl_module.get_sections_by_page(:learn_more).each do |section| %>
                 <li><%= link_to( section.title, udl_module_url(@udl_module, anchor: section.slug))  %></li>
               <% end %>
             </ol>
           </li>
           <li><%= link_to("References &amp; Resources".html_safe, udl_module_url(@udl_module, anchor: "references-and-resources")) %>
             <ol>
               <% @udl_module.get_sections_by_page(:references).each do |section| %>
                 <li><%= link_to( section.title, udl_module_url(@udl_module, anchor: section.slug))  %></li>
               <% end %>
             </ol>
           </li>
         </ol>
       </aside>
       
       <div id="module-introduction">
       <a id="introduction"></a>
       <h2>Introduction</h2>
       
       <% @udl_module.get_sections_by_page(:introduction).each do |section| %>
         <a id="<%= section.slug %>"></a>
         <div class="module-section-title-wrapper" data-no-turbolink>
             <h3>
               <% unless section.hide_title %>
                 <%= section.title %> 
               <% end %>
               <% if policy(@udl_module).update? %> 
                 <span class="edit-module-section-link"> 
                   <%= link_to(
                         fa_icon( "pencil", text: "Edit this section"), 
                         edit_udl_module_section_path(udl_module_slug: @udl_module.slug, slug: section.slug) 
                       ) %>
                 </span>
               <% end %>
             </h3>
           </div>
           <div class="module-section-content-wrapper">
             <%= section.content.html_safe %>
           </div>
       <% end %>
       <% if policy(@udl_module).update? %>
         <p>
           <%= link_to(
                 fa_icon("plus", text: "Add a section"), 
                 new_udl_module_section_path(udl_module_slug: @udl_module.slug, parent: "introduction"), 
                 class: "create-module-button" 
               ) %>
         </p>
       <% end %>
       </div>
     </div>
     
     <div id="module-udl-principles">
       <a id="udl-principles"></a>
       <div class="module-section-header-wrapper">
         <h2>UDL Principles</h2>
         <div class="module-back-to-top-wrapper">
           <%= link_to(
                        fa_icon("arrow-up", text: "Back to top"),
                        udl_module_path(@udl_module, anchor: 'module-top')
               )
           %>
         </div>
       </div>
       
       <% @udl_module.get_sections_by_page(:udl_principles).each do |section| %>
         <a id="<%= section.slug %>"></a>
         <div class="module-section-title-wrapper">
             <h3>
               <% unless section.hide_title %>
                 <%= section.title %> 
               <% end %>
               <% if policy(@udl_module).update? %>
               <span class="edit-module-section-link"> 
                 <%= link_to(
                       fa_icon( "pencil", text: "Edit this section" ), 
                       edit_udl_module_section_path(udl_module_slug: @udl_module.slug, slug: section.slug)
                     ) %>
               </span>
               <% end %>
             </h3>
           </div>
           <div class="module-section-content-wrapper">
             <%= section.content.html_safe %>
           </div>
       <% end %>
       <% if policy(@udl_module).update? %>
         <p>
           <%= link_to( 
                 fa_icon( "plus", text: "Add a section" ), 
                 new_udl_module_section_path(udl_module_slug: @udl_module.slug, parent: "udl_principles"),
                 class: 'create-module-button'
               ) %>
         </p>
       <% end %>
      </div>
      
      <% if policy(@udl_module).view_admin? %>
        <div id="udl-module-alignment">
          <a id="udl-alignment"></a>
          <div class="module-section-header-wrapper">
            <h2>UDL Alignment</h2>
            <div class="module-back-to-top-wrapper">
              <%= link_to(
                    fa_icon("arrow-up", text: "Back to top"),
                    udl_module_path(@udl_module, anchor: "module-top")
                  )
              %>
            </div>
          </div>
          
          <% @udl_module.get_sections_by_page(:udl_module_alignment).each do |section| %>
           <a id="<%= section.slug %>"></a>
           <div class="module-section-title-wrapper">
               <h3>
                 <% unless section.hide_title %>
                   <%= section.title %> 
                 <% end %>
                 <% if policy(@udl_module).update? %>
                 <span class="edit-module-section-link"> 
                   <%= link_to(
                         fa_icon( "pencil", text: "Edit this section" ), 
                         edit_udl_module_section_path(udl_module_slug: @udl_module.slug, slug: section.slug)
                       ) %>
                 </span>
                 <% end %>
               </h3>
             </div>
             <div class="module-section-content-wrapper">
               <%= section.content.html_safe %>
             </div>
         <% end %>
         <% if policy(@udl_module).update? %>
           <p>
             <%= link_to( 
                   fa_icon( "plus", text: "Add a section" ), 
                   new_udl_module_section_path(udl_module_slug: @udl_module.slug, parent: "udl_principles"),
                   class: 'create-module-button'
                 ) %>
           </p>
         <% end %>
        </div>
      <% end %>

      <div id="module-instructional-practice">
       <a id="instructional-practice"></a>
       <div class="module-section-header-wrapper">
         <h2>Instructional Practice</h2>
         <div class="module-back-to-top-wrapper">
           <%= link_to(
                        fa_icon("arrow-up", text: "Back to top"),
                        udl_module_path(@udl_module, anchor: 'module-top')
               )
           %>
         </div>
       </div>
       
       <% @udl_module.get_sections_by_page(:instructional_practice).each do |section| %>
         <a id="<%= section.slug %>"></a>
         <div class="module-section-title-wrapper">
             <h3>
               <% unless section.hide_title %>
                 <%= section.title %>
               <% end %>
               <% if policy(@udl_module).update? %>
               <span class="edit-module-section-link"> 
                 <%= link_to(
                       fa_icon( "pencil", text: "Edit this section" ), 
                       edit_udl_module_section_path(udl_module_slug: @udl_module.slug, slug: section.slug)
                     ) %>
               </span>
               <% end %>
             </h3>
           </div>
         <div class="module-section-content-wrapper">
             <%= section.content.html_safe %>
         </div>       
         <% end %> 
       <% if policy(@udl_module).update? %>
       <p>
         <%= link_to(
               fa_icon( "plus", text: "Add a section" ), 
               new_udl_module_section_path(udl_module_slug: @udl_module.slug, parent: "instructional_practice"),
               class: 'create-module-button'
             ) %>
       </p>
       <% end %>
     </div>
     <div id="module-learn-more">
       <a id="learn-more"></a>
       <div class="module-section-header-wrapper">
         <h2>Learn More</h2>
         <div class="module-back-to-top-wrapper">
           <%= link_to(
                        fa_icon("arrow-up", text: "Back to top"),
                        udl_module_path(@udl_module, anchor: 'module-top')
               )
           %>
         </div>
       </div>
       
       <% @udl_module.get_sections_by_page(:learn_more).each do |section| %>
         <a id="<%= section.slug %>"></a>
         <div class="module-section-title-wrapper">
             <h3>
               <% unless section.hide_title %>
                 <%= section.title %>
               <% end %>
               <% if policy(@udl_module).update? %>
               <span class="edit-module-section-link"> 
                 <%= link_to(
                       fa_icon( "pencil", text: "Edit this section" ),
                       edit_udl_module_section_path(udl_module_slug: @udl_module.slug, slug: section.slug),
                     ) %>
               </span>
               <% end %>
             </h3>
           </div>
         <div class="module-section-content-wrapper">
             <%= section.content.html_safe %>
         </div>       
       <% end %>
       <% if policy(@udl_module).update? %>
       <p>
         <%= link_to(
               fa_icon( "plus", text: "Add a section" ),
               new_udl_module_section_path(udl_module_slug: @udl_module.slug, parent: "learn_more"),
               class: 'create-module-button'
             ) %>
       </p>
       <% end %>
    </div>

    <div id="module-references">
       <a id="references-and-resources"></a>
       <div class="module-section-header-wrapper">
         <h2>References &amp; Resources</h2>
         <div class="module-back-to-top-wrapper">
           <%= link_to(
                        fa_icon("arrow-up", text: "Back to top"),
                        udl_module_path(@udl_module, anchor: 'module-top')
               )
           %>
         </div>
       </div>
       
       <% @udl_module.get_sections_by_page(:references).each do |section| %>
         <a id="<%= section.slug %>"></a>
         <div class="module-section-title-wrapper">
             <h3>
               <% unless section.hide_title %>
                 <%= section.title %>
               <% end %>
               <% if policy(@udl_module).update? %>
               <span class="edit-module-section-link"> 
                 <%= link_to( 
                       fa_icon( 'pencil', text: 'Edit this section' ), 
                       edit_udl_module_section_path(udl_module_slug: @udl_module.slug, slug: section.slug)
                     ) %>
               </span>
               <% end %>
             </h3>
           </div>
         <div class="module-section-content-wrapper">
             <%= section.content.html_safe %>
         </div>       

       <% end %>
       <% if policy(@udl_module).update? %>
       <p>
         <%= link_to(
               fa_icon( 'plus', text: 'Add a section' ),
               new_udl_module_section_path(udl_module_slug: @udl_module.slug, parent: 'references'),
               class: 'create-module-button'
             ) %>
       </p>
       <% end %>
    </div>

    <div id="module-footer-info">
      <p>
        <strong>Latest revision date:</strong>
        <%= @udl_module.latest_revision_date %>
      </p>
    </div>
        </article>
      </main>
    </div>
  </div>
</div>
