<div id="content_wrapper">
  <div id="single-column-wrapper">
    <div id="content">
      <h1><%= @dss_contact.campus_name %>
        <% if policy(DssContact).edit? %>
             <span class="edit-dss-contact-link">
               <%= link_to(
                     fa_icon( 'pencil', text: 'edit this contact'),
                     edit_dss_contact_path(@dss_contact)
                   )
               %>
             </span>
        <% end %>
      </h1>
      <div id="bread-crumb-social-media-wrapper">
        <div id="bread-crumb-wrapper">
          <%= format_bread_crumb( page_name: @dss_contact.campus_name,
                parents: [
                  [ 'students', students_path ],
                  [ 'disability support office directory', dss_contacts_path ]
                ]
              ) %>
        </div>
      </div>

      <p><strong>Name of Disability Service Office:</strong> <%= @dss_contact.dss_office.html_safe %></p>
      <p><strong>Description of Services:</strong></p>
      <p><%= @dss_contact.description_of_services %></p>
      <p><strong>Contact:</strong> <%= @dss_contact.contact_person %><br />
        <strong>Email:</strong> <%= mail_to @dss_contact.contact_email %><br />
        <strong>Phone:</strong> <%= @dss_contact.contact_phone_number %>
      </p>
      <p><strong>Website:</strong> <%= link_to @dss_contact.dss_website, "http://#{@dss_contact.dss_website}", target: '_blank' %></p>
      <p><%= link_to(
               fa_icon( 'arrow-left', text: 'Back to DSS contact directory'), 
               dss_contacts_path 
             )
         %>
      </p>
    </div>
  </div>
</div>
