<div id="faculty-nomination-survey-form-wrapper">
  <%= form_for( @survey, url: campus_faculty_nomination_surveys_path( campus_slug: @campus.slug ) ) do |f| %>
    
    <%= render 'faculty_nomination_surveys/forms/fields/student_preferences', f: f %>
    <%= render 'faculty_nomination_surveys/forms/fields/student_contact_info', f: f %>
    <%= render 'faculty_nomination_surveys/forms/fields/faculty_member', f: f %>
    <%= render 'faculty_nomination_surveys/forms/fields/teaching_strategy', f: f %>
    <%= render 'faculty_nomination_surveys/forms/fields/student_demographics', f: f %>
    
    <div id="faculty-nomination-survey-submit-wrapper">
      <%= f.submit "Submit Survey" %>
    </div>
  <% end %>
</div>
