<%= form_for( @survey, url: campus_faculty_nomination_surveys_path( campus_slug: @campus.slug ) ) do |f| %>
  <div>
    <div>
      <%= f.label :remain_anonymous, "I would like for my nomination to remain anonymous and do not wish to provide my name and contact information." %>
    </div>
    <div>
      <%= f.check_box :remain_anonymous, checked: false  %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :share_name_with_faculty, "Please include my name <em>only</em> in consideration for an ECU branded item from the Dowdy Student Store if the strategy I nominate is featured in an online professional development module.".html_safe %>
    </div>
    <div>
      <%= f.check_box :share_name_with_faculty, checked: false %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :share_name, "Please include my name in communication to the faculty member I featured in my strategy nomination." %>
    </div>
    <div>
      <%= f.check_box :share_name, checked: false %>
    </div>
  <div>
    <div>
      <%= f.label :contact_for_more_info, "Feel free to contact me for further information or/and to participate in collaborative faculty/student opportunities that may arise as a result of the strategy I nominated." %>
    </div>
    <div>
    <%= f.check_box :contact_for_more_info %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :student_name %>
    </div>
    <div>
      <%= f.text_field :student_name %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :student_email %>
    </div>
    <div>
      <%= f.text_field :student_email %>
    </div>
  </div>

  <h3>Faculty Member</h3>
  <%= f.label :faculty_first_name, "First Name" %>
  <%= f.text_field :faculty_first_name %>
  <%= f.label :faculty_last_name, "Last Name" %>
  <%= f.text_field :faculty_last_name %>

  <%= f.label :Department_id, "Department" %>
  <%= f.collection_select :department_id, @departments, :id, :name, prompt: true %>
  <div id="faculty-nomination-survey-faculty-member-wrapper">


    <h4>Can't find your Faculty Member?</h4>
    <p>
    If you don't see your faculty member listed, it's possible that they were not on our list of faculty. That's okay, we still want to recognize their work! Please just add their names below and we'll do our best to locate them.
    </p>
  </div>

  <div>
    <div>
      <%= f.label :teaching_strategy, "1. What would oyu call the teaching strategy?" %>
    </div>
    <div>
      <%= f.text_area :teaching_strategy %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :strategy_description, "2. Describe the instructional strategy, technique, or routine. Please be as specific as possible." %>
    </div>
    <div>
      <%= f.text_area :strategy_description %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :reasons_for_effectiveness, "3. Why did you find this strategy, technique, or routine to be effective for you? Please be as specific as possible." %>
    </div>
    <div>
      <%= f.text_area :reasons_for_effectiveness %>
    </div>
  </div>

  <h2>Optional Demographic Information</h2>
  <div>
    <div>
      <%= f.label :student_gender, "What is your gender?" %>
    </div>
    <div>
      <div>
        <%= f.label :student_gender_male, "Male" %>
      </div>
      <div>
        <%= f.radio_button :student_gender, 'male' %>
      </div>      
      <div>
        <%= f.label :student_gender_female, "Female" %>
      </div>
      <div>
        <%= f.radio_button :student_gender, 'female' %>
      </div>
      <div>
        <%= f.label :student_gender_other, "Other" %>
      </div>
      <div>
        <%= f.radio_button :student_gender, 'other' %>
      </div>
    </div>
  </div>

  <div>
    <div>
      <%= f.label :student_age, "What is your age?" %>
    </div>
    <div>
      <%= f.select(:student_age, [["18-24", "18-24" ], ["25-34", "25-34"], ["35-older", "35-older"]], prompt: true) %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :student_dss_eligible, "I am currently, or have been in the past, considered eligible for services for students with disabilities." %>
    </div>
    <div>
      <%= f.check_box :student_dss_eligible, checked: false %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :student_currently_using_dss, "I am currently using a service(s) for students with disabilities." %>
    </div>
    <div>
      <%= f.check_box :student_currently_using_dss, checked: false %>
    </div>
  </div>
  <div>
    <%= f.submit "Submit Survey" %>
  </div>
<% end %>
