<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) + " | College STAR" : "College STAR" %></title>
       
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="site">
      <%= render 'shared/header' %>
      <div id="flash-wrapper">
        <% flash.each do | name, msg | %>
          <%= content_tag :div, id: "flash-#{name}" do %>
            <%= content_tag :div, "<i class='fa fa-close fa-large'></i>".html_safe, id: "flash-#{name}-close" %>
            <%= msg %>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
